* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url("https://healthcorp.com.au/public/wp-content/uploads/2015/10/bg-grey-shapes.png");
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}

#tema {
    background: orange;
    text-align: left;
    padding: 10px 5px;
    text-align: center;
    position: fixed;
    top: 25px;
    left: 5px;
    font-size: 15px;
    border-radius: .5%;
}

audio {
    background: orange;
    height: 50px;
    width: 100%;
}

header img {
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

#container {
    background: #FFF;
    width: 70%;
    margin: 25px auto;
    border: 1px solid;
    border-radius: .5%;
}

header {
    background: #9645c1;
    text-align: center;
    padding: 1%;
    color: white;
}

form {
    margin: 5%;
    width: 70%;
}

fieldset {
    border: 0px;
}

input[type="text"],
input[type="date"],
input[type="number"],
#country,
input[type="email"],
input[type="password"],
textarea {
    border: 1px solid #9645c1;
    display: block;
    margin: 10px auto;
    padding: 2%;
    width: 100%;
}

input[type="radio"] {
    margin-top: 1.5%;
}

#submitButton {
    background: #c1beba;
    padding: 15px 10px;
    float: left;
    cursor: pointer;
    margin-right: 15px;
}

#submitButton:hover {
    filter: brightness(115%);
}

#resetButton {
    background: #e24f2b;
    padding: 15px 10px;
    color: white;
    float: right;
    cursor: pointer;
}

#resetButton:hover {
    filter: brightness(115%);
}

#part-1 label:after {
    content: " *";
    color: red;
}

#part-2 label:after {
    content: " *";
    color: red;
}

textarea {
    resize: none;
}

/*Media Query */

@media all and (min-width: 0px) and (max-width: 320px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    #container {
        width: 90%;
        margin-top: 20%;
    }
    #tema {
        width: 100%;
        left: .5px;
        top: 0;
    }
    #resetButton {
        float: left;
    }
}

@media all and (min-width: 321px) and (max-width: 480px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    #container {
        width: 90%;
        margin-top: 13%;
    }
    #tema {
        width: 100%;
        left: .5px;
        top: 0;
    }
    #resetButton {
        float: left;
    }
}

@media all and (min-width: 481px) and (max-width: 568px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    #container {
        width: 90%;
        margin-top: 10%;
    }
    #tema {
        width: 100%;
        left: .5px;
        top: 0;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    #container {
        width: 90%;
        margin-top: 7%;
    }
    #tema {
        width: 100%;
        left: .5px;
        top: 0;
    }
}
